{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Note|Add Note</title>
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
</head>
<body>
   
    <div class="container">
        <div class="row mt-4" >
            <div class="col-md-4 mt-5 mx-auto shadow p-3">
                <h3 class="text-center">Add|<span class="text-primary">Note</span></h3>
                <form action="" method="POST">
                    {% csrf_token %}
                <div class="mb-3">
                    <label for="Input1" class="form-label"><strong>Note Title:</strong></label>
                    <input type="text" class="form-control" name="title" id="Input1" placeholder="Title">
                </div>

                <div class="mb-3">
                    <label for="Input2" class="form-label"><strong>Date:</strong></label>
                    <input type="date" class="form-control" name="dt" id="Input2" placeholder="Enter Date">
                </div>

                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label"><strong>Note Description</strong></label>
                    <textarea class="form-control" name="desc" id="exampleFormControlTextarea1" rows="3" placeholder="Description"></textarea>
                </div>

                <div class="mb-3">
                    <input type="submit" class="btn btn-primary" value="Add" name="subbtn">
                </div>
            </form>
            </div>
       
        </div> <!--Row end-->
   
    </div>

    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/popper.min.js' %}"></script>
</body>
</html>